APP_ENV=
PORT=8000

DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASS=""
DB_PORT=6543

# PORT 5432 for local
# PORT 6543 for supabase

# DB_URL format for Makefile
# postgresql://<username>:<password>@<host>:<port>/<database>?<parameters>
# example of parameters ==> schemas = public
DB_URL="postgresql://username:password@localhost:6543/database_name?search_path=public"

JWT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""